*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
html{
	font-size:100%;
}
.products_box{
	display:grid;
	grid-template-columns:repeat(4,auto);
	grid-gap:.5rem;
	padding:1rem;
	place-items: center;
}